.todo-form {
  margin-top: 20px;
}
.todo-form input[type="text"] {
  padding: 5px;
  font-weight: 500;
  width: 350px;
  font-size: 25px;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid black;
  margin-bottom: 40px;
}
.todo-form input[type="text"]:focus {
  background-color: rgba(150, 150, 150, 0.3);
}
.todo-form,
.todo-list {
  font-family: "Noto Sans KR", sans-serif;
}
.todo-list li {
  width: 400px;
  padding: 5px 0px;
  background-color: rgba(200, 200, 200, 0.7);
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 4px 4px 4px 0px grey;
}
.todo-list li button {
  background-color: transparent;
  border: none;
  padding: 5px;
}
.todo-list li span {
  margin-left: 5px;
  padding-right: 10px;
  font-weight: 400;
  letter-spacing: 0.3px;
}
