.weather {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 22px;
  background-color: var(--background-color);
  opacity: var(--opacity);
  padding: 10px 15px 5px 15px;
  font-family: "Saira Condensed", sans-serif;
}
